@import url('https://fonts.googleapis.com/css?family=Pangolin');
$message-color: #bfae49;
body {
    color: cornsilk;
    background: transparent;
    font-family: 'Pangolin', cursive;
    text-align: center;
    font-size: 2em;
    .show {
        white-space: nowrap;
        /* Отменяем перенос текста */
        overflow: hidden;
        /* Обрезаем содержимое */
        background: #6b6b6a;
        /* Цвет фона */
        padding: 35px;
        /* Поля */
        max-height: 100px;
        position: relative;
        border-radius: 120px;
        &:after {
            content: '';
            /* Выводим элемент */
            position: absolute;
            /* Абсолютное позиционирование */
            right: 0;
            top: 0;
            /* Положение элемента */
            width: 200px;
            /* Ширина градиента*/
            height: 100%;
            /* Высота родителя */
            /* Градиент */
            background: -moz-linear-gradient(left, rgba(109, 107, 99, 0.2), #6b6b69 100%);
            background: -webkit-linear-gradient(left, rgba(109, 107, 99, 0.2), #6b6b69 100%);
            background: -o-linear-gradient(left, rgba(109, 107, 99, 0.2), #6b6b69 100%);
            background: -ms-linear-gradient(left, rgba(109, 107, 99, 0.2), #6b6b69 100%);
            background: linear-gradient(to right, rgba(109, 107, 99, 0.2), #6b6b69 100%);
        }
    }
}